@import '../styles/_variable';
@import '../styles/_mixins';

/* Main content with navbar padding */
.main-content {
  min-height: calc(100vh - 70px);
  padding-top: 70px;
  background: $light-bg;
  padding-bottom: $spacing-xl;
  animation: fadeIn $transition-base;
}
